body {
  font-family: 'Baloo Bhai 2', cursive;
  font-size: large;
}

.center {
  margin: auto;
  width: 50%;
  /* border: 3px solid green; */
  padding: 10px;
}

.container {
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

.card {
  /* Add shadows to create the "card" effect */
  margin: auto;
  width: 40em;
  height: 22.5em;
  background-color: #ffffff;
  box-shadow: 0 0.0625em 0.125em rgba(0, 0, 0, 0.15);
  border-radius: 0.25em;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.button1 {
  background-color: white; 
  color: black; 
  border: 4px solid burlywood;
  font-size: 50px;
}

.button1:hover {
  background-color: burlywood;
  color: white;
}

.button2 {
  background-color: white; 
  color: black; 
  border: 4px solid cadetblue;
  font-size: 50px;
}

.button2:hover {
  background-color: cadetblue;
  color: white;
}

.header {
  padding: 10px 16px;
  background: #555;
  color: #f1f1f1;
}

.footer {
  padding: 10px 16px;
  background: #555;
  color: #f1f1f1;
}

.parallax-image {
  position : relative;
  height : 100vh;
  background-attachment: fixed;
  background-position: top center;
  background-size: cover;
}

/* style anchor tags */
a, a:hover, a:active, a:visited { color: white; }

/* Generated background image from: https://app.haikei.app/ */
.background-image {
  background-image: url('./components/svg/layered-peaks-haikei.svg');
}

.spacer {
  aspect-ratio: 900/600;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.correct-ans {
  color: green;
}

.wrong-ans {
  color: red;
}

.question-text {
  font-size: larger;
}

.score-box{
  border: 0.1em solid darkblue;
  background-color: #d1d1d1 ; 
  color: black;
  font-size: larger;
}

/* font */
.bhai {
  font-family: 'Baloo Bhai 2', cursive;

}

.chivo {
  font-family: 'Chivo', sans-serif;
}
